main {
    font-family: var(--font-family), Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    padding: 40px 16px;
    text-align: center;
  }
  
  .titulo {
    color: var(--title-color);
    font-size: 28px;
    margin-bottom: 8px;
  }
  
  .subtitulo {
    font-size: 20px;
    font-weight: normal;
    color: var(--title-color);
    margin-bottom: 24px;
  }
  
  .formulario {
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: var(--font-family);
    font-size: 14px;
    background-color: #fff;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #363a2d;
  }
  