:root {
  --primary-color: #45483b;
  --title-color: #34362d;
  --text-color-light: #f6f6f6;
  --background-color: #fcf9f3;
  --font-family: Helvetica, Arial, sans-serif;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.1);
  --transition-default: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px var(--font-family);
  background-color: var(--background-color);
}

main {
  font-family: var(--font-family);
  background-color: var(--background-color);
  text-align: center;
  padding: 40px 16px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition-default);
}

.titulo {
  color: var(--title-color);
  font-size: 28px;
  margin-top: 3%;
  font-weight: 600;
}

.subtitulo {
  font-size: 20px;
  font-weight: normal;
  color: var(--title-color);
  margin-top: 1%;
}
