<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/tabela.css" />
    <title>ADS</title>
  </head>
  <body>
    <main>
      <h1 class="titulo">ADS</h1>
      <h2 class="subtitulo">Análise e Desenvolvimento de Sistemas</h2>
      <table class="tabela">
        <thead>
          <tr>
            <th>Livro</th>
            <th>Autor</th>
            <th>Disponibilidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Engenharia de Software</td>
            <td>Roger S. Pressman</td>
            <td class="disponivel">Disponível</td>
          </tr>
          <tr>
            <td>Código Limpo</td>
            <td>Robert C. Martin</td>
            <td class="disponivel">Disponível</td>
          </tr>
          <tr>
            <td>Introdução à Programação com Python</td>
            <td>Nilo N. Menezes</td>
            <td class="indisponivel">Indisponível</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
