<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/tabelaList.css" />
    <title>ADS</title>
  </head>
  <body>
    <section class="corpo">
      <h1 class="titulo">ADS</h1>
      <h2 class="subtitulo">Análise e Desenvolvimento de Sistemas</h2>
      <div class="quadrado">
        <table class="tabela">
          <header>
            <thead>
              <tr class="linha">
                <th>Livro</th>
                <th>Autor</th>
                <th>Disponibilidade</th>
              </tr>
            </thead>
            <tbody>
              <tr class="linha">
                <td>Engenharia de Software</td>
                <td>Roger S.Pressman</td>
                <td>Disponível</td>
              </tr>
              <tr class="linha">
                <td>Código Limpo</td>
                <td>Robert C.Martin</td>
                <td>Disponível</td>
              </tr>
              <tr class="linha">
                <td>Introdução à Programação com Python</td>
                <td>Nilo N.Menezes</td>
                <td>Indisponível</td>
              </tr>
            </tbody>
          </header>
        </table>
      </div>
    </section>
  </body>
</html>
