<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../public/stylesheets/navbar.css" />
    <link rel="stylesheet" href="../public/stylesheets/botoes.css" />

    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon" />
    <title>Home - Open Pages</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="../views/home.html"
          ><img src="../assets/logoOpenPages.svg" alt="Logo OpenPages"
        /></a>
      </div>
      <ul class="nav-links">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./sugestao.html">Sugestão de Livro</a></li>
        <li><a href="./sobre.html">Sobre</a></li>
      </ul>
    </nav>
    <main>
      <h1 class="titulo">Cursos - FATEC</h1>
      <section class="grade-botoes">
        <a href="../views/dsm.html" class="botao-curso">
          <strong>DSM</strong>
          <span>Desenvolvimento de Software Multiplataforma</span>
        </a>
        <a href="../views/ads.html" class="botao-curso">
          <strong>ADS</strong>
          <span>Análise e Desenvolvimento de Sistemas</span>
        </a>
        <a href="../views/gpi.html" class="botao-curso">
          <strong>GPI</strong>
          <span>Gestão de Produção Industrial</span>
        </a>
        <a href="../views/grh.html" class="botao-curso">
          <strong>GRH</strong>
          <span>Gestão de Recursos Humanos</span>
        </a>
      </section>
    </main>
  </body>
</html>
