<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../public/stylesheets/navbar.css" />
    <link rel="stylesheet" href="../public/stylesheets/sobre.css" />
    <title>Sobre</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="../views/home.html">
          <img src="../assets/logoOpenPages.svg" alt="Logo OpenPages" />
        </a>
      </div>
      <ul class="nav-links">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./sugestao.html">Sugestão de Livro</a></li>
        <li><a href="./sobre.html">Sobre</a></li>
      </ul>
    </nav>

    <main class="sobre">
      <section class="intro">
        <h1>Sobre o OpenPages<img src="../assets/bookOpenPages.svg" alt="Livro Da Logo" class="book-logo"></h1 class="title-logo">
        <p>O OpenPages é uma plataforma educacional que visa democratizar o acesso a livros acadêmicos. Com uma interface intuitiva, os alunos podem acessar materiais organizados por cursos, facilitando o aprendizado e a pesquisa acadêmica.</p>
      </section>

      <section class="informacoes-pessoais">
        <h2>Sobre o Grupo</h2>
        <div class="integrantes">
          <p><strong>Nome dos Integrantes</strong></p>
          <p>Dian Lucas Lopes de Sousa</p>
          <p>Iago Rodrigues Pinheiro</p>
          <p>Kairo Cesar Souza Gomes</p>
          <p>Pedro Henrique Xavier Constancio</p>
        </div>
        <p><em>2º DSM - Noite - Desenvolvimento de Software Multiplataforma</em></p>
        <p>O grupo tem como objetivo criar uma solução prática e acessível para o ambiente acadêmico, utilizando conhecimentos adquiridos ao longo do curso.</p>
      </section>

      <!-- <section class="redes-sociais">
        <h2>Conecte-se Conosco</h2>
        <div class="social-links">
          <a href="https://github.com/iago65" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/iago-pinheiroo/" target="_blank">LinkedIn</a>
        </div>
      </section> -->

      <section class="missao">
        <h2>Missão</h2>
        <p>Fornecer acesso facilitado a materiais acadêmicos essenciais, contribuindo para a formação de alunos e professores através de uma plataforma intuitiva e acessível.</p>
      </section>

      <section class="visao">
        <h2>Visão</h2>
        <p>Ser reconhecida como a principal plataforma de referência para materiais acadêmicos organizados por curso e semestre, promovendo o acesso ao conhecimento.</p>
      </section>

    <section class="valores">
      <h2>Valores do Projeto</h2>
      <ul>
        <li>Aplicação de Conhecimentos Acadêmicos</li>
        <li>Facilidade no Acesso ao Conhecimento</li>
        <li>Inclusão Educacional</li>
        <li>Foco na Experiência do Usuário</li>
        <li>Uso da Tecnologia para Democratizar o Ensino</li>
      </ul>
    </section>
    </main>
  </body>
</html>
