<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../public/stylesheets/navbar.css" />
    <link rel="stylesheet" href="../public/stylesheets/formulario.css" />
    <title>Sugestão de livro</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="#"
          ><img src="../assets/logoOpenPages.svg" alt="Logo OpenPages"
        /></a>
      </div>
      <ul class="nav-links">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./sugestao.html">Sugestão de Livro</a></li>
        <li><a href="./sobre.html">Sobre</a></li>
      </ul>
    </nav>
    <main class="form-container">
      <h1>Sugira um Livro</h1>
      <form action="/enviar-sugestao" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required />

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required />

        <label for="curso">Curso / Matéria:</label>
        <input type="text" id="curso" name="curso" required />

        <label for="titulo">Título do Livro:</label>
        <input type="text" id="titulo" name="titulo" required />

        <label for="autor">Autor do Livro:</label>
        <input type="text" id="autor" name="autor" required />

        <label for="observacoes">Observações:</label>
        <textarea
          id="observacoes"
          name="observacoes"
          rows="4"
          placeholder="Você pode adicionar informações como edição, editora, motivo da sugestão etc."
        ></textarea>

        <button type="submit">Enviar Sugestão</button>
      </form>
    </main>
  </body>
</html>
